body{
    background-color:  #131726 !important;
}

#margem{
    margin: auto;
}

.button1 {
    border: none;
    color: white;
    padding: 16px 32px;
    width: 350px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    margin: 30px 5px 10px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

.button2 {
    border: none;
    color: white;
    padding: 16px 32px;
    width: 350px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    margin: 5px 5px 40px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button {
    background-color: rgb(6, 11, 20); 
    color: #686868; 
    border: 1px solid #686868;
  }
  
  .button:hover {
    background-color: #213b55ff;
    color: #cef3f5;
    border: 1px solid #cef3f5;
  }
  
#logo{
    margin-top: 10px;
    width: 100px;
}

#caixa{
    background-color: rgb(6, 11, 20);
    border-color: #cef3f5;
    border-radius: 30px;
    border-style: solid;
    border-width: 0px;
    width: 570px;
    margin: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
