<!DOCTYPE html>
<html>
    <head>
        <!--Aqui criamos um link para o documento que contém os estilos da página-->
        <link rel="stylesheet" type="text/css" href="./estilos/perfil.css">
        <link rel="icon" type="image/x-icon" href="./Imagens/Logo-Scili.png">
        <!--Com essa tag meta o navegador entende que os caracteres são do UTF-8 e os acentos n bugam-->
        <meta charset="UTF-8">
        <!--Aqui o site funciona direito em celular tbm-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Scili.com</title>
    </head>

    <body>
        <div class="box">
            <div class="wpp">
                <div class="foto">  </div>
            </div>
            <button class="botaologo" onclick="location.href='./areaCentral.html'">  
                <img src="./Imagens/Logo-Scili.png" id="logo">
            </button> 
            <div class="nome"> Ronaldo de Breyne </div>
            <div class="infos"> Professor Doutor de Engenharia Mecanica na Escola Politecnica da USP</div>
            <div class="caixas_1">
                <i class="glyphicon glyphicon-education"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 0px 5px 10px 30px;"> Formacao </div>
                <div class="infos" style="margin-bottom: 10px; font-size: 15px;"> Engenharia Mecanica: Escola Politecnica da USP, Mestrado Blabla2, Doutorado Blabla2 fjhqic jdfoie oejfoqe ojf </div>
                <i class="glyphicon glyphicon-book"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 10px 5px 10px 30px;"> Areas de Interesse </div>
                <div class="infos" style="margin-bottom: 10px; font-size: 15px;"> Engenharia Mecanica: Escola Politecnica da USP, Mestrado Blabla2, Doutorado Blabla2 fjhqic jdfoie oejfoqe ojf </div>
                <i class="glyphicon glyphicon-tags"></i> <div style="color: white; font-weight: 500; font-size: large; margin: 10px 5px 10px 30px;">Principais Tags </div>
                <div class="infos" style="font-size: 15px;"> usp, mechanical engineering, materials, technology</div>
            </div> <div class="caixas_2">

            </div>

          
        </div>
        <div class="box2">
            <div class="boxposts"> 
                <button style="float: right; background-color: rgba(15, 32, 39, 0.3); border: 0px;">
                    <i class="glyphicon glyphicon-plus"></i>
                </button> <div class="nome" style="font-size: x-large;"> Suas Publicacoes </div>
                <div class="botao" style="background-image: url(./Imagens/Guiana.jfif);"> 
                    <div class="infos2"> Abertos editais de intercâmbio para instituições francesas em SP </div>
                </div>
                <div class="botao" style="background-image: url(./Imagens/Itau.jfif);">
                    <div class="infos2"> Oportunidade de pesquisa no Itaú </div>
                </div>
                <div class="botao" style="background-image: url(./Imagens/lab_azul.jfif);">
                    <div class="infos2"> Oportunidade de Iniciação Científica no LabAzul </div>
                </div>
            </div>
            <div class="boxop">
                <div class="nome" style="font-size: x-large; float: right;"> Seus Processos 
                    <button class="op" onclick="location.href='./processos_bu.html'"> <div> <img src="./Imagens/poli.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Pesquisa em Materiais Poliméricos </div>
                        <div class="barra"></div>
                    </button>
                    <button class="op" onclick="location.href='./processos_bu.html'"> <div> <img src="./Imagens/petrobras.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Pesquisa de Topologia de Perfurações </div>
                        <div class="barra"></div>
                    </button>
                    <button class="op" onclick="location.href='./processos_bu.html'"> <div> <img src="./Imagens/google.jpeg" class="caixa_img"> </div> 
                        <div class="infos"> Intership Research Summer Program </div>
                        <div class="barra"></div>
                    </button>
                </div>
            </div>
        </div> 
    </body>

</html>